@using AutoMapper;
@using SIG.Core.Domain.Interfaces;
@using SIG.Shared.Enums;
@model SIG.Services.ComputerViewModel
@inject IMapper _mapper
@inject IEquipTypeRepository _equipType
@inject ILocacityRepository _locacity
@inject IBrandRepository _brand
@inject ISectorRepository _sector
@inject IActingAreaRepository _actingArea
@{
    ViewData["Title"] = "Details";
    Layout = null;
    var types = await _equipType.GetAll();
    var brands = await _brand.GetAll();
    var locacities = await _locacity.GetAll();
    var areas = await _actingArea.GetAll();
    var sectors = await _sector.GetAll();
}


<div>

    <dl class="row">
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.MemoryType)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.MemoryType)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.DiskType)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DiskType)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.DiskSize)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DiskSize)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.MemorySize)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.MemorySize)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-8">
            @brands.FirstOrDefault(x=>x.Id==Model.BrandId).Name
        </dd>
     
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd class = "col-sm-8">
            @types.FirstOrDefault(x=>x.Id==Model.TypeId).Name
        </dd>
       
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.LocacityId)
        </dt>
        <dd class = "col-sm-8">
            @locacities.FirstOrDefault(x=>x.Id==Model.LocacityId).Name
        </dd>
       
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>
        <dd class = "col-sm-8">
            @areas.FirstOrDefault(x=>x.Id==Model.AreaId).Name
        </dd>
   
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.SectorId)
        </dt>
        <dd class = "col-sm-8">
            @sectors.FirstOrDefault(x=>x.Id==Model.SectorId).Name
        </dd>
       
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-4 text-end">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
       
    </dl>

    <br />
    <hr />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
    <a asp-action="Index" class="btn btn-secondary" style="margin-left:5px;"><i class="fa-solid fa-cancel"></i> Cancelar</a>
</div>

